@{
    ViewBag.Title = "Organization";
}
<div class="container col-md-12 orgtitle">
    <h2>Pick An Organization</h2>
    <div classe="outerCardBox" ng-controller="OrganizationCtrl">
        <div ng-repeat="orgs in organizations">
            <div class="container col-xs-8 col-md-6 orgcard">
                <div class="orgcardimg {{orgs.name}}-Card"></div>
            </div>
        </div>
    </div>
</div>