<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cardshark.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cardshark.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cardshark</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cardshark</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User ID=csadmin@kr0y22rslr;Password=LilyDaisy2015" Name="Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User Id=csadmin@kr0y22rslr;Password=LilyDaisy2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CardSharkWebApp.Models.ApplicationDbContext, CardSharkWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CardSharkWebApp.Models.CardSharkContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User ID=csadmin@kr0y22rslr;Password=LilyDaisy2015" Name="Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User Id=csadmin@kr0y22rslr;Password=LilyDaisy2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CardSharkWebApp.Models.CardSharkContext, CardSharkWebApp" MigrationConfiguration="CardSharkWebApp.Migrations.Configuration, CardSharkWebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CardSharkWebApp.Models.CardSharkContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User Id=csadmin@kr0y22rslr;Password=LilyDaisy2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kr0y22rslr.database.windows.net,1433;Initial Catalog=cardshark_db;User Id=csadmin@kr0y22rslr;Password=LilyDaisy2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CardSharkWebApp.Models.CardSharkContext" />
  </ItemGroup>
</Project>